In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
# https://www.kaggle.com/spscientist/students-performance-in-exams
sp_df = pd.read_csv('StudentsPerformance.csv')
sp_df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Descriptive statistics

In [3]:
sp_df.describe(include="all")

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

## Math/Reading/Writting median

In [20]:
fig = go.Figure()
fig.add_box(y=sp_df['math score'], name='Math')
fig.add_box(y=sp_df['reading score'], name='Reading')
fig.add_box(y=sp_df['writing score'], name='Writing')
fig.update_layout(xaxis_title='Subjects', yaxis_title='Scores', legend_title_text='Subject', margin=dict(l=0, r=0, t=0, b=0))
fig

Unsupported

## Math/Reading/Writting distribution

In [5]:
fig = go.Figure()
fig.add_histogram(x=sp_df['math score'], name='Math')
fig.add_histogram(x=sp_df['reading score'], name='Reading')
fig.add_histogram(x=sp_df['writing score'], name='Writing')
fig.update_layout(barmode='overlay', xaxis_title='Score', yaxis_title='Quantity', legend_title_text='Subject')
fig.update_traces(opacity=0.8)
fig

Unsupported

## Race/Ethnicity group

In [6]:
fig = px.pie(sp_df, names='race/ethnicity')
fig.update_layout(legend_title_text='Race/Ethnicity group')
fig.show()

Unsupported

## Parental level of education

In [7]:
fig = px.pie(sp_df, names='parental level of education')
fig.update_layout(legend_title_text='Parental level of education')
fig.show()

Unsupported

## Gender --> Lunch --> Test preparation course

In [8]:
fig = px.sunburst(sp_df, path=['gender', 'lunch', 'test preparation course'])
fig

Unsupported

In [9]:
# https://www.kaggle.com/sidtwr/videogames-sales-dataset?select=Video_Games_Sales_as_at_22_Dec_2016.csv
vgs_df = pd.read_csv('VideoGamesSales.csv')
vgs_df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

## Descriptive statistics

In [10]:
vgs_df.describe(include="all")

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
count,16717,16719,16450.000000,16717,16665,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000,7590.000000,10096,9950
unique,11562,31,NaN,12,582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1696,8
top,Need for Speed: Most Wanted,PS2,NaN,Action,Electronic Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ubisoft,E
freq,12,2161,NaN,3370,1356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,204,3991
mean,NaN,NaN,2006.487356,NaN,NaN,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,7.125046,162.229908,NaN,NaN
std,NaN,NaN,5.878995,NaN,NaN,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,1.500006,561.282326,NaN,NaN
min,NaN,NaN,1980.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.000000,4.000000,NaN,NaN
25%,NaN,NaN,2003.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,6.400000,10.000000,NaN,NaN
50%,NaN,NaN,2007.000000,NaN,NaN,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,7.500000,24.000000,NaN,NaN
75%,NaN,NaN,2010.000000,NaN,NaN,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,8.200000,81.000000,NaN,NaN
max,NaN,NaN,2020.000000,NaN,NaN,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.700000,10665.000000,NaN,NaN

## Genre

In [11]:
fig = px.pie(vgs_df.dropna(subset=['Genre']), names='Genre')
fig.update_layout(legend_title_text='Genre')
fig.show()

Unsupported

## Platform

In [12]:
platform = vgs_df['Platform'].value_counts(dropna=True).reset_index()
platform.rename(columns={'Platform': 'Count', 'index': 'Platform'}, inplace=True)
platform.loc[platform.index >= 12, 'Platform'] = 'Others'

fig = px.pie(platform, names='Platform', values='Count')
fig.update_layout(legend_title_text='Platform')
fig.show()

Unsupported

## Top 10 publishers

In [13]:
publisher = vgs_df['Publisher'].value_counts(dropna=True).reset_index()
publisher.rename(columns={'Publisher': 'Count', 'index': 'Publisher'}, inplace=True)
publisher = publisher[:10]

fig = px.bar(publisher, x='Publisher', y='Count')
fig.show()

Unsupported

## Top 10 developers

In [14]:
developer = vgs_df['Developer'].value_counts(dropna=True).reset_index()
developer.rename(columns={'Developer': 'Count', 'index': 'Developer'}, inplace=True)
developer = developer[:10]

fig = px.bar(developer, x='Developer', y='Count')
fig.show()

Unsupported

## Sales (Line chart)

In [15]:

sales = vgs_df.groupby('Year_of_Release').sum()[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]
sales = sales[sales.index < 2016]
sales.reset_index(inplace=True)

fig = go.Figure()

fig.add_scatter(x=sales['Year_of_Release'], y=sales['NA_Sales'], name='North America')
fig.add_scatter(x=sales['Year_of_Release'], y=sales['EU_Sales'], name='Europe')
fig.add_scatter(x=sales['Year_of_Release'], y=sales['JP_Sales'], name='Japan')
fig.add_scatter(x=sales['Year_of_Release'], y=sales['Other_Sales'], name='Other')
fig.add_scatter(x=sales['Year_of_Release'], y=sales['Global_Sales'], name='Global')

fig.update_layout(xaxis_title='Year', yaxis_title='Sales ($M)', legend_title_text='Country')

fig

Unsupported

## User count

In [16]:
users = vgs_df.groupby('Year_of_Release').sum()['User_Count'] * 1000
users = users[users.index < 2016]
fig = px.line(users)
fig.update_layout(xaxis_title='Year', yaxis_title='User count', showlegend=False)

Unsupported

## Median critic score

In [17]:
score = vgs_df.groupby('Year_of_Release').median()['Critic_Score'].dropna()

fig = px.line(score)
fig.update_layout(xaxis_title='Year', yaxis_title='Median critic Score', showlegend=False)
fig

Unsupported